.navbar-brand {
  line-height: 54px;
}

.sec-nav-menu {
  margin-top: -40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;

  .content {
    margin-bottom: 0;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-left: -10px;

    > li {
      float: left;

      a {
        display: block;
        color: #87a3bc;
        padding: 10px;
        &:hover {
          text-decoration: none;
        }
      }

      &:hover {
        background-color: #f4f4f4
      }
    }
  }
}

.leagues {
  .layout {
    margin-top: 0;
  }
}
