<div class="row">
  <div class="heading-block">
    <h3>
      Scoring
    </h3>
  </div>

  {{#data-table ordering=true searching=true}}
    <thead>
      <tr role="row">
        <th class="sorting_disabled" aria-label="Group">Group</th>
        <th class="sorting_disabled" aria-label="Title">Title</th>
        <th class="sorting_disabled" aria-label="Points">Points</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.pointCategories as |pointCategory|}}
        <tr role="row">
          <td>{{pointCategory.group}}</td>
          <td>{{pointCategory.title}}</td>
          <td>{{pointCategory.value}}</td>
        </tr>
      {{/each}}
    </tbody>
  {{/data-table}}
</div>
