<div class="row">
  <div class="heading-block">
    <h3>
      Scoring
    </h3>
  </div>

  <table class="table table-striped table-bordered table-hover ui-datatable dataTable dataTable-helper" data-global-search="false" data-length-change="false" data-info="false" data-paging="false" data-page-length="10" id="DataTables_Table_2" role="grid">
    <thead>
      <tr role="row">
        <th class="sorting_disabled" aria-label="Category">Category</th>
        <th class="sorting_disabled" aria-label="Action">Action</th>
        <th class="sorting_disabled" aria-label="Points">Points</th>
      </tr>
    </thead>
    <tbody>
      <tr role="row" class="odd">
        <td>Legal</td>
        <td>DUI</td>
        <td>20</td>
      </tr>
      <tr role="row" class="odd">
        <td>Legal</td>
        <td>Posession of Drugs</td>
        <td>20</td>
      </tr>
      <tr role="row" class="odd">
        <td>Fighting</td>
        <td>Disorderly Conduct</td>
        <td>15</td>
      </tr>
      <tr role="row" class="odd">
        <td>Career</td>
        <td>Leaked Sex Tape</td>
        <td>30</td>
      </tr>
      <tr role="row" class="odd">
        <td>Career</td>
        <td>Leaked Nude Pics</td>
        <td>25</td>
      </tr>
    </tbody>
  </table>
</div>
