<div class="row">
  <div class="heading-block">
    <h3>
      Scoring
    </h3>
  </div>

  {{#data-table ordering=true searching=true}}
    <thead>
      <tr role="row">
        <th class="sorting_disabled" aria-label="Category">Category</th>
        <th class="sorting_disabled" aria-label="Action">Action</th>
        <th class="sorting_disabled" aria-label="Points">Points</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.pointCategories as |pointCategory|}}
        <tr role="row">
          <td>{{pointCategory.category}}</td>
          <td>{{pointCategory.name}}</td>
          <td>{{pointCategory.points}}</td>
        </tr>
      {{/each}}
    </tbody>
  {{/data-table}}
</div>
