<div class="row">
  <div class="heading-block">
    <h2>Standings</h2>
  </div>

  {{#data-table}}
    <thead>
      <tr role="row">
        <th aria-label="Rank">Rank</th>
        <th aria-label="Team">Team</th>
        <th aria-label="Points">Points</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |team|}}
        <tr role="row">
          <td>1</td>
          <td>{{team.title}}</td>
          <td>0</td>
        </tr>
      {{/each}}
    </tbody>
  {{/data-table}}
</div>
