<div class="row">
  <div class="heading-block">
    <h3>
      Positions
    </h3>
  </div> 
  {{#data-table}}
    <thead>
      <tr role="row">
        <th aria-label="Position">Position</th>
        <th aria-label="Count">Count</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.positions as |position|}}
        <tr>
          <td>{{position.title}}</td>
          <td>{{position.count}}</td>
        </tr>
      {{/each}}
    </tbody>
  {{/data-table}}
</div>
