<div class="row">
  <div class="heading-block">
    <h3>
      Positions
    </h3>
  </div> 
  <table class="table">
    <tbody>
      {{#each model.positions as |position|}}
        <tr>
          <th>{{position.name}}</th>
          <td>{{position.slots}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
