<div class="row">
  <div class="heading-block">
    <h3>
      Positions
    </h3>
  </div> 
  <table class="table">
    <tbody>
      <tr>
        <th>Actors</th>
        <td>2</td>
      </tr>
      <tr>
        <th>Athletes</th>
        <td>1</td>
      </tr>
      <tr>
        <th>Politicians</th>
        <td>1</td>
      </tr>
      <tr>
        <th>Miscellaneous</th>
        <td>2</td>
      </tr>
      <tr>
        <th>Reality Stars</th>
        <td>1</td>
      </tr>
      <tr>
        <th>Musicians</th>
        <td>1</td>
      </tr>
      <tr>
        <th>Dead People</th>
        <td>1</td>
      </tr>
    </tbody>
  </table>
</div>
