<body class=" ">

<div id="wrapper">
  <header class="navbar" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-cog"></i>
        </button>

        <a href="./" class="navbar-brand navbar-brand-img">
          FantasyCeleb
        </a>
      </div>

      <nav class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav navbar-right">    

          <li>
            <a href="javascript:;">About</a>
          </li>    

          <li class="dropdown navbar-profile">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
              <img src="https://avatars1.githubusercontent.com/u/343891?v=3&s=40" class="navbar-profile-avatar" alt="">
              <span class="visible-xs-inline">@peterlandt &nbsp;</span>
              <i class="fa fa-caret-down"></i>
            </a>

            <ul class="dropdown-menu" role="menu">

              <li>
                <a href="./page-profile.html">
                  <i class="fa fa-user"></i> 
                  &nbsp;&nbsp;My Profile
                </a>
              </li>

              <li>
                <a href="./page-settings.html">
                  <i class="fa fa-cogs"></i> 
                  &nbsp;&nbsp;Settings
                </a>
              </li>

              <li class="divider"></li>

              <li>
                <a href="./account-login.html">
                  <i class="fa fa-sign-out"></i> 
                  &nbsp;&nbsp;Logout
                </a>
              </li>

              <li class="divider"></li>

              <li>
                <a href="/leagues/1">
                  <i class="fa fa-bars dropdown-icon "></i> 
                  League 1
                </a>
              </li>
              <li>
                <a href="/leagues/2">
                  <i class="fa fa-bars dropdown-icon "></i> 
                  League 2
                </a>
              </li>
              <li>
                <a href="/leagues/3">
                  <i class="fa fa-bars dropdown-icon "></i> 
                  League 3
                </a>
              </li>

            </ul>

          </li>

        </ul>
      </nav>
    </div>
  </header>

  {{outlet}}

</div>

<footer class="footer">
  <div class="container">
    <p class="pull-left">Copyright &copy; Geoff.</p>
  </div>
</footer>

</body>
